.App {
  display: grid;
  place-content: center;
  text-align: center;
  height: 100vh;

  h4 {
    margin-top: 1rem;
  }

  input {
    margin-top: .5rem;
    border: 2px solid #d1d1d1;
    border-radius: 3px;
    padding:0.3rem;
    width: 18rem;
  }

  button {
    margin-top: 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    width: 11rem;
    margin: 0 auto;
    cursor: pointer;
  }

  h3 {
    margin-top: 0.7rem;
  }
}